
/SFDAPA/.vs
/SFDAPA/Model/bin
/SFDAPA/Model/obj
/SFDAPA/Negocio/bin
/SFDAPA/Negocio/obj
/SFDAPA/Persistencia/bin
/SFDAPA/Persistencia/obj
/SFDAPA/SFDAPA/bin
/SFDAPA/SFDAPA/obj
/SFDAPA/SFDAPA.Testes/bin
/SFDAPA/SFDAPA.Testes/obj
